* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.nav-bar {
   display: flex;
   border: solid red 5px;
   margin: 0;
   padding: 0;
   list-style: none;
   justify-content: center;
   gap: 2rem;
}

.nav-bar li {
   border: solid green 5px;
   flex: 0 1 200px;
   
}

.home-list {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   border: solid blue 5px;
}

.home-list div {
   border: solid yellow 5px;
   flex: 0 1 200px;
   
}

.ingredients ul li {
   margin-left: 30px;
   padding: 5px;
}

.description {
   margin-bottom: 50px;
}

.ingredients {
   margin-bottom: 60px;
}

.instructions ol li {
   margin-left: 50px;
   padding: 5px;
}

.recipe-body {
   margin-left: 30px;
}