* {
    font-family: Arial, Helvetica, sans-serif;
}
.beef-instruction-odd,
.beef-ingredient-odd {
    background-color: bisque;
}

.beef-instruction-even,
.beef-ingredient-even {
    background-color: aquamarine;
}

#beef-stew-header {
    color: brown;
}

#beef-instructions,
#beef-ingredients {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

